<div class="header-wrapper">
    <header>
        <a href="#brand">Brians Ostebiks</a>
    </header>
    <nav class="list-item">
        <ul>
          <li><a href="#">Oste</a></li>
          <li><a href="#">Vin</a></li>
          <li><a href="#">Brød</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
</div>