<% include ../partials/head %>
<% include ../partials/header %>

<main class="image">
        <h1>Brians Ostebiks</h1>
</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>
